<%= render partial: "shared/navbar", locals: {logo: "Category", model: categories_path} %>

  <div class="categories-table">
    <% @categories.each do |category| %>
      <div class="category">
        <div class="img-name">        
          <div class="category-img">        
            <%= image_tag category.icon if category.icon.attached? %>
          </div>
          <%= link_to category.name, category_path(category.id), class: "category-name" %>       
        </div>
        <p class="category-name">$<%= category.budgets.sum(:amount) %> </p>       
      </div>
    <% end %>
    <div class="category-btn-cont">      
    <%= link_to "ADD CATEGORY", new_category_path, class: "add-cat-btn" %>
    </div>
</div>  

