<%= render partial: "shared/navbar"%>

<% if user_signed_in? %>
  <p>Welcome to Categories <%= current_user.name %></p>
  <div class="categories-table">
    <% @categories.each do |category| %>
      <div class="category">
        <%= image_tag(category.icon) if category.icon.present? %>
        <h3><%= category.name %></h3>
        <p>Total Amount: <%= category.transactions.sum(:amount) %></p>
      </div>
    <% end %>
</div>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>

<%= link_to "Add Category", new_category_path %>
