<%= render partial: "shared/navbar"%>

<div class='form up'>
<h3 class="cat-header"> Add New Category </h3>
<%= form_with model:@category, url: categories_path do |form| %>
<div class='form-inputs'>
    <div class="input-field col s6">
      <%= form.text_field :name, class: "validate", id: "name" %>
      <%= form.label :name %>
    </div>

    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <%= form.file_field :file %>
      </div>
      <div class="file-path-wrapper">
        <%= form.text_field :file, class: "file-path validate" %>
      </div>
    </div>
    <div class="actions cate">
    <%= form.submit placeholder: "create category", class: "waves-effect waves-light btn"%>
    </div>
  </div>
<%end%>
</div>